<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="not-ie"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <title>Admin</title>
        <meta name="viewport" content="width=device-width">
        {{#css}}admin/admin.css{{/css}}
    </head>
    <body>
        {{& content}}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
        <script src="https://login.persona.org/include.js"></script>
        {{#if enableLogin}}
            <script type="text/javascript">
                window.loggedIn = {{#if email}}"{{email}}"{{else}}null{{/if}};
            </script>
        {{/if}}
        {{#js}}admin/admin.js{{/js}}
    </body>
</html>

