@import "admin/normalize";
@import "admin/typography";
@import "admin/persona";
@import "admin/clearfix";

@mixin dull-link {
    padding: 0;
    display: block;
    text-decoration: none;
    color: #222;

    &:hover {
        color: #666;
    }
}

@mixin button( $size: 30px ) {
    @include dull-link;
    height: $size;
    width: $size;
    font-size: $size - 10px;
    text-align: center;
    line-height: $size;
    cursor: pointer;
}

@mixin right {
    position: absolute;
    right: 0;
    top: 0;
}


html, body {
    background: white;
    margin: 0;
    padding: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

a {
    cursor: pointer;
}

button {
    padding: 5px 10px;

    &:before {
        margin-right: 10px;
    }
}

header {
    padding: 5px 20px;
    margin: 0 0 20px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    line-height: 25px;
    @extend .clearfix;

    &, a {
        color: #666;
        text-decoration: none;
    }

    h1 {
        font-size: 1.4em;
        line-height: 1.364em;
        height: 1.35em;
        margin: 0;
        padding: 0;
        float: left;
    }

    .signout, .loggedInAs, .sites {
        font-size: 0.875em;
        line-height: 2.3em;
        height: 2.143em;
        display: inline-block;
        margin-left: 40px;
    }

    .signout, .loggedInAs {
        float: right;
    }
}

main {
    position: relative;
}

main.mini {
    width: 500px;
    margin: 50px auto;

    .icon-plus {
        @include button;
        @include right;
    }
}

h2, h3 {
    margin: 0 0 0.4em 0;
    border-bottom: 1px dotted #ddd;
}

ul.edit-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;

    li {
        position: relative;
        height: 30px;
        line-height: 30px;
        margin: 5px 0;

        .icon-edit {
            @include button;
            @include right;
        }
    }

    a {
        @include dull-link;
    }
}

form {

    h2 {
        margin-bottom: 20px;
    }

    fieldset {
        position: relative;
        margin: 0 0 15px 0;
        padding: 0 0 15px;
        border: none;

        &.buttons {
            text-align: right;
        }
    }

    button {
        margin-left: 20px;
    }

    button.positive {
        color: #270;
    }

    button.negative {
        color: #800;
    }

    fieldset > label {
        font-weight: bold;
        display: block;
        font-size: 1.2em;
        line-height: 1.2em;
        padding-bottom: 4px;
    }

    .terse label {
        display: inline-block;
        margin-right: 20px;
    }

    fieldset.list {
        & > label {
            border-bottom: 1px dotted #ddd;
        }

        ul {
            margin: 0 40px 20px 20px;
            padding: 0;
        }

        li {
            margin-top: 20px;
            list-style-type: none;
            position: relative;
        }

        .icon-remove {
            @include button;
            position: absolute;
            right: -40px;
            top: 2px;
        }
    }

    input {
        border: 1px solid #ccc;
        width: 100%;
        padding: 8px 10px;
        box-sizing: border-box;

        &[type=checkbox] {
            width: auto;
        }
    }

}

.error {
    background: #fbe3e4;
    color: #8a1f11;
    border: 2px solid #fbc2c4;
    padding: 0.8em;
    margin: 0 0 1em 0;
}


