<main id="sites">
    <h2>Sites</h2>
    <a href="#" class='button icon-plus'></a>
    <ul class="edit-list">
        <li>
            <a href="#">Example</a>
            <a href="#" class='button icon-edit'></a>
        </li>
    </ul>
</main>
