{{=[[ ]]=}}

<main class="mini" ng-app="Shnappy" ng-controller="SiteList">

    <h2>Sites</h2>
    <a class='button icon-plus'></a>
    <ul class="edit-list">
        <li ng-repeat="site in sites">
            <a>{{site.title}}</a>
            <a class='button icon-edit'></a>
        </li>
    </ul>
</main>
